<section class="header-section">
  <div class="container">
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <div class="btn" (click)="back()">
          <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
          Trở Về
        </div>

        <h2 class="title">Tài Khoản</h2>
      </div>
    </div>
  </div>
</section>


<section class="first-section" *ngIf="this.user">
  <div class="container">
    <div nz-row [nzGutter]="[24,24]">
      <div nz-col [nzSpan]="12">
        <div class="name">
          <p><b>Họ và tên:</b> {{user.fullname}}<span class="btn">
            <span nz-icon nzType="edit" nzTheme="outline" [routerLink]="['/account/new-password']"
            ></span>Thay đổi họ và tên
          </span></p>
        </div>
        <p><b>Email:</b> {{user.email}}</p>
        <!-- <p><b>Số điện thoại:</b> {{user.contactNumber}}</p> -->
        <div class="password">
          <p><b>Mật khẩu:</b>
            <span class="btn">
              <span nz-icon nzType="edit" nzTheme="outline" [routerLink]="['/account/new-password']"
              ></span>Thay đổi mật khẩu
            </span></p>

        </div>
      </div>
      <div nz-col [nzSpan]="12">
        <p><b>Xếp hạng:</b> {{user.ranking}}</p>
        <p><b>Điểm:</b> {{user.point}}</p>
      </div>
    </div>

    <!-- <app-box-address *ngIf="address_user_choosing" [info]="address_user_choosing"></app-box-address> -->


    <div class="btnAddress"  (click)="isMannageAddress=true">
      <span>Thêm mới hoặc đặt lại địa chỉ mặc định</span>
    </div>
  </div>

  <app-manage-address *ngIf="user.id" [user]="{id:user.id,id_address_default:user.id_address_default}"  [(visible)]="isMannageAddress"></app-manage-address>
</section>
