<section>
  <button nz-button nzType="primary" nzSize="large" nzShape="round" style="margin-bottom: 20px;" (click)="openFormStaff()" *ngIf="title=='accounts-staff'" >
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    Thêm tài khoản nhân viên
  </button>
  <div style="margin-bottom: 20px;">
    <span class="label" style="margin-right: 10px;">Trạng thái:</span>
    <nz-select [(ngModel)]="status" (ngModelChange)="changeStatus()">
      <nz-option nzValue="0" nzLabel="Tất cả"></nz-option>
      <nz-option nzValue="1" nzLabel="Hoạt động"></nz-option>
      <nz-option nzValue="2" nzLabel="Bị khóa"></nz-option>
    </nz-select>
  </div>
  <nz-table #basicTable [nzData]="accounts_v" [nzLoading]="loading_table">
    <thead>
      <tr>
        <th nzAlign = "center" nzLeft>STT</th>
        <th nzLeft>Họ và tên</th>
        <th nzLeft>Email</th>
        <th *ngIf="title=='accounts-customer'">Điểm</th>
        <th>Tài khoản</th>
        <th>Ngày tạo</th>
        <th>Trạng thái</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data;index as i">
        <td nzAlign = "center" nzLeft>{{i+1}}</td>
        <td nzLeft>{{data.fullname}}</td>
        <td>{{data.email}}</td>
        <td *ngIf="title=='accounts-customer'">{{data.point}}</td>
        <td>{{data.verify?'Đã xác thực':'Chưa xác thực'}}</td>
        <td>{{formatDateToString(data.created)}}</td>
        <td><nz-tag [nzColor]="data.status?'green':'red'">{{data.status?'Hoạt động':'Tạm khóa'}}</nz-tag></td>
        <td>
          <a (click)="block_or_Unblock_Account(data.id,data.status)">{{data.status?'Khóa':'Mở khóa'}}</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-drawer
        [nzVisible]="isFormStaff"
        nzPlacement="right"
        nzTitle="Tạo tài khoản"
        (nzOnClose)="closeFormStaff()"
      >
        <ng-container *nzDrawerContent>
          <div style="width: 100%;">
            <div class="group">
              <span class="label">Họ và tên:</span>
              <input
            nz-input
            placeholder="Họ và tên"
            [(ngModel)]="account.fullname"
            />
            </div>
            <div class="group">
              <span class="label">Email:</span>
              <input
            nz-input
            placeholder="Email"
            [(ngModel)]="account.email"
            />
            </div>

            <div style="width: 100%;display: flex;justify-content: center;">
              <button nz-button nzType="primary" class="btn" (click)="submit()" [disabled]="processing">
                <span nz-icon nzType="check" style="font-size: 20px;"></span>
                Tạo mới

              </button>
            </div>
          </div>
        </ng-container>
    </nz-drawer>
</section>
