<app-header></app-header>
<div *ngIf="isFormLogin===true">
  <h2>Reset Your Password</h2>


  <div nz-col style="padding: 10px;">
    <div class="group border-top border-right border-left">
      <div nz-row [nzGutter]="[15]">
        <div nz-col nzSpan="12">
          <span>New Password :</span>
          <input nz-input placeholder="New Password [(ngModel)]="user_email" type="text" />
        </div>
        <div nz-col nzSpan="12">
          <span>Confirm Password :</span>
          <input
                  [type]="passwordVisible ? 'text' : 'password'"
                  nz-input
                  placeholder="Confirm Password"
                  [(ngModel)]="user_password"/>
        </div>
      </div>
    </div>
    <div class="group border-top border-right border-left border-bottom group-container-btnRegister">
      <button nz-button nzType="primary" (click)="submit()" class="btnRegister" >
        Change Password
      </button>
    </div>
  </div>
</div>

