
<section *ngIf="isFormLogin===true">
  <div class="container" style="display: flex;flex-direction: column;align-items: center;">
    <h2 class="title" style="width: 100%;text-align: center;">Đặt Lại Mật Khẩu</h2>

    <div nz-col style="padding: 10px;width: 100%;">
      <div class="group border-top border-right border-left">
        <div nz-row [nzGutter]="[15]">
          <div class ="field" nz-col [nzSpan]="12">
            <p>Mật khẩu<sup aria-hidden="true"> *</sup> :</p>
            <nz-input-group [nzSuffix]="suffixTemplate">
              <input
                [type]="passwordVisible ? 'text' : 'password'"
                nz-input
                placeholder="Mật khẩu"
                [(ngModel)]="user.password"
              />
            </nz-input-group>
          </div>

          <div class ="field" nz-col [nzSpan]="12">
            <p>Xác nhận mật khẩu<sup aria-hidden="true"> *</sup> :</p>
            <nz-input-group [nzSuffix]="suffixTemplate">
              <input
                [type]="passwordVisible ? 'text' : 'password'"
                nz-input
                placeholder="Xác nhận mật khẩu"
                [(ngModel)]="user.confirm_password"
              />
            </nz-input-group>
          </div>

        <ng-template #suffixTemplate>
          <span style="cursor: pointer;"
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
        </div>
      </div>

    </div>
    <div >
      <button nz-button nzType="primary" (click)="submit()" class="btnSubmit" >
        Gửi
      </button>
    </div>
  </div>
</section>

