
<div class="product">
  <div class="left">
    <image [src]="FILE_URL + item.product?.img" [custom]="{
    width: '100px',
    height: '100px',
    objectFit: 'contain'}"></image>

  </div>
  <div class="center">
    <p class="name">{{item.product?.name}}</p>
    <div>
      <p class="size"><b>Kích cỡ: </b> {{item.productVariant?.size}}</p>
      <p class="quantity"><b>Số lượng: </b> {{item.quantity}}</p>
    </div>
    <p class="note">Ghi chú: {{item.note}}</p>
  </div>
  <div class="right">
    <div class="cost"><span>{{main.formatPrice(item.productVariant?.price)}}</span></div>
    <!-- <div class="cost" *ngIf="item.sale>0"><span>{{main.formatPrice(item.cost)}}</span></div>
    <div class="price"><span>{{main.formatPrice((item.sale>0)?(item.cost-item.cost*(item.sale/100)):item.cost)}}</span> VND</div> -->



  </div>
</div>
