.markdown-body { line-height: 1.7; }
.md-error { color: #ef4444; padding: 12px 0; }


.markdown-body h1{
  color: #000;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}
.markdown-body h2{
  color: #000;
  font-size: 32px;
  line-height: 26px;
  font-weight: 700;
}

.markdown-body h3{
  font-size: 32px !important;
  line-height: 38px;
  font-weight: 700;
}

.markdown-body h4{
  color: #000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 900;
  margin: 25px 0;
}

.markdown-body p{
  color: #000;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.markdown-body ul li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

.markdown-body ul{
  padding-inline-start: 40px;
}

.markdown-body ul li {
  list-style: disc;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}