<div class="footer">
  <div nz-row nzGutter="[20,20]">
    <div nz-col nzSpan="12">

    </div>
    <div nz-col nzSpan="12">
      <nz-row>
        <nz-col nzSpan="8">
          <h4 class="title">
            Shop:
          </h4>
        </nz-col>
        <nz-col nzSpan="8">
          <h4 class="title">
            Account:
          </h4>
        </nz-col>
        <nz-col nzSpan="8">
          <h4 class="title">
            Share:
          </h4>
        </nz-col>
      </nz-row>
    </div>
  </div>
</div>
