.header{
  position: absolute;
  color: #fff;
  z-index: 1000;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;

  &>div>a>img{
    width: 100px;
    height: 32px;
  }

  .subtitle{
    color: #000;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
  }


  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    &>div{
      display: flex;
      align-items: center;
      &>div{
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        cursor: pointer;

      }
    }
  }
  .border-circle{
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  .border-rounded{
    border-radius: 100px;
    padding: 10px;
  }
  svg{
    max-width: 100%;
    display: block;
  }

  [nz-menu]{
    background-color: transparent;
    border: none;
    li{
      ::ng-deep .ant-menu-submenu-title{
        color: #fff;
      }
    }
    [nz-submenu]{
      margin: 0 10px;
      border-bottom: 1px solid #f0f0f0;

      &:hover{
        border-bottom: 1px solid #a7897b;
      }
    }


    [nz-submenu]::after{
      border: none;
    }


  }










}

[nz-menu-item]{
  &:hover{
    color: #a7897b ;
  }
  a{
    &:hover{
      color: #a7897b ;
    }
  }
}

.panel{
  li{
    &:hover{
      color: #a7897b ;
    }
    cursor: pointer;
  }
}

::ng-deep .ant-drawer-body{
    padding: 0;
}

::ng-deep .ant-drawer-title,::ng-deep .ant-drawer-close{
  color: #fff !important;

}

::ng-deep .ant-drawer-title{
  font-weight: 700;
  font-size: 20px;

}

::ng-deep .ant-drawer-content-wrapper{
  min-width: 410px;
}

::ng-deep .ant-drawer-close{
  position: absolute;
  right: 20px;
  font-size: 27px;
}

::ng-deep .ant-drawer-header{
  background-color: #262626;
}


.shopping-cart{


  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  .mini-cart-body{
    padding: 30px;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    .text{
      font-size: 16px;
      line-height: 22px;
      font-weight: normal;
      margin-bottom: 10px;
      text-align: center;
    }
    .process{
      --value: 20% ;
      display: flex;
      align-items: center;
      flex: 1;
      margin-bottom: 20px;
      .process-bar{
        position: relative;
        flex: 8;
        height: 10px;
        border-radius: 100px;
        background-color: #e5e5e5;
        margin-right: 10px;

        &::before{
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          background-color: #a7897b;
          width: var(--value);
          height: 100%;
          border-radius: 100px;
        }
        &::after{
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          background-image: linear-gradient(135deg,#fff3 0 25%,#fff0 25% 50%,#fff3 50% 75%,#fff0 75% 100%);
          width: 100%;
          height: 100%;
          animation: move 5s linear infinite;
          transition: all .1s linear ;
          background-size: 45px 45px;
        }
      }

      .process-icon{
        background-color: #a7897b;
        border-radius: 100%;
        width: 30px;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 70%;
          object-fit: cover;
        }
        animation: buble 1s linear infinite alternate;
        transition: all .1s linear;
      }
    }


  }
  .mini-cart-footer{
    box-shadow: 0 0 8px #0000004d;
    z-index: 0;
    .top{
      padding: 5px 15px;
      .btn{
        background-color: #a7897b;
        border-radius: 10px;
        padding: 12px 35px;
        margin: 0 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
      }

      .text_group{
        width: 100%;
        margin: 0 10px;
        span{
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
        }
        p{
          font-size: 16px;
          line-height: 22px;
        }
      }

    }
    .bottom{
      display: flex;

      .btn{
        text-align: center;
        cursor: pointer;
        user-select: none;
        padding: 15px;
        color: #fff;
        font-weight: 600;
        width: 100%;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  .drawer{
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 8px #0000004d;
    z-index: 1;
    background-color: #fff;
    padding: 30px;
    width: 100%;
    transition: all .3s;
    transform: translateY(100%);
    .close{
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 20px;
    }


  }
  .hidden_Drawer{
    animation: hidden 0.5s normal forwards;
  }
  .appear_Drawer{
    animation: appear 0.5s normal forwards;
  }
}

.cart-empty{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  .btn{
    background-color: #262626;
    padding: 11px 25px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    span{
      font-size: 14px;
      line-height: 14px;
      font-weight: 600;
    }
  }
  h5{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}

@keyframes hidden {
  to{
    transform: translateY(100%);
  }
  from{
    transform: translateY(0);
  }
}

@keyframes appear {
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(0);
  }
}



@keyframes move {
  to {
    background-position: 0% 0%;
}
from{
    background-position: 100% 100%;
}
}

@keyframes buble {
  to{
    transform: scale(1);
  }
  from{
    transform: scale(1.2);
  }
}

.search-panel{

  width: 100%;
  height: 0%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #141708e0;
  z-index: 10000;
  overflow: hidden;
  transition: all .3;

  .close{
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .container{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }


}

.hidden-search-panel{
  animation: hidden-search-panel 0.5s normal forwards;
}
.appear-search-panel{
  animation: appear-search-panel 0.5s normal forwards;
}

@keyframes hidden-search-panel {
  to{
    height: 0%;
  }
  from{
    height: 100%;
  }
}

@keyframes appear-search-panel {
  from{
    height: 0%;
  }
  to{
    height: 100%;
  }
}

.btnDashboard{
  border: 2px solid #fff;
  padding: 11px 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &:hover{
    opacity: .7;
  }
}
