<div class="header">
  <div class="border-circle">
    <span nz-icon nzType="search" nzTheme="outline"></span>
  </div>
  <div class="border-circle" (click)="account()">
    <span nz-icon nzType="user" nzTheme="outline"></span>
  </div>
  <div class="border-circle">
    <span nz-icon nzType="global" nzTheme="outline"></span>
  </div>

  <div class="border-rounded">
    USD
  </div>
  <div class="border-rounded" (click)="visible=true">
    <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
    0 Items
  </div>
  <nz-drawer
      [nzVisible]="visible"
      nzPlacement="right"
      nzTitle="Your Cart"
      (nzOnClose)="close()"
    >
      <ng-container *nzDrawerContent>
        <p>Some contents...</p>
        <p>Some contents...</p>
        <p>Some contents...</p>
      </ng-container>
    </nz-drawer>
</div>
