.header{
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 20px 15px;
  justify-content: center;
  align-items: center;
  &>div{
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;

  }
  .border-circle{
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  .border-rounded{
    border-radius: 100px;
    padding: 10px 15px;
  }





}

::ng-deep .ant-drawer-header{
  background: #262626 !important;

}

::ng-deep .ant-drawer-body{
  padding: 0;
}

::ng-deep .ant-drawer-title,::ng-deep .ant-drawer-close{
  color: #fff !important;

}

::ng-deep .ant-drawer-title{
  font-weight: 700;
  font-size: 20px;

}

::ng-deep .ant-drawer-content-wrapper{
  min-width: 410px;
}

::ng-deep .ant-drawer-close{
  // Adjust the positioning properties as needed
  position: absolute;
  right: 20px; /* Adjust right position */
  font-size: 27px;
}

.shopping-cart{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Outfit';
  z-index: 0;
  .mini-cart-body{
    padding: 30px;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    .text{
      font-size: 16px;
      line-height: 22px;
      font-weight: normal;
      margin-bottom: 10px;
    }
    .process{
      display: flex;
      align-items: center;
      flex: 1;
      margin-bottom: 20px;
      .process-bar{
        position: relative;
        flex: 8;
        height: 10px;
        border-radius: 100px;
        background-color: #e5e5e5;
        margin-right: 10px;

        &::before{
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          background-color: #a7897b;
          width: 72%;
          height: 100%;
          border-radius: 100px;
        }
        &::after{
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          background-image: linear-gradient(135deg,#fff3 0 25%,#fff0 25% 50%,#fff3 50% 75%,#fff0 75% 100%);
          width: 100%;
          height: 100%;
          animation: move 5s linear infinite;
          transition: all .1s linear ;
          background-size: 45px 45px;
        }
      }

      .process-icon{
        background-color: #a7897b;
        border-radius: 100%;
        width: 30px;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 70%;
          object-fit: cover;
        }
        animation: buble 1s linear infinite alternate;
        transition: all .1s linear;
      }
    }


  }
  .mini-cart-footer{
    box-shadow: 0 0 8px #0000004d;
    z-index: 0;
    .top{
      padding: 15px;
      .btn{
        background-color: #a7897b;
        border-radius: 10px;
        padding: 12px 35px;
        margin: 0 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .text_group{
        width: 100%;
        margin: 0 10px;
        span{
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
        }
        p{
          font-size: 16px;
          line-height: 22px;
        }
      }

    }
    .bottom{
      display: flex;

      .btn{
        text-align: center;
        cursor: pointer;
        user-select: none;
        padding: 15px;
        color: #fff;
        font-weight: 600;
        width: 100%;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  .drawer{
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 8px #0000004d;
    z-index: 1;
    background-color: #fff;
    padding: 30px;
    width: 100%;
    .close{
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 20px;
    }

    .hidden_Drawer{

    }
  }
}

@keyframes hidden {
  to{
    transform: translateY(0);
  }
  from{
    transform: translateY(100%);
  }
}



@keyframes move {
  to {
    background-position: 0% 0%;
}
from{
    background-position: 100% 100%;
}
}

@keyframes buble {
  to{
    transform: scale(1);
  }
  from{
    transform: scale(1.2);
  }
}

