.header{
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 20px 15px;
  justify-content: center;
  align-items: center;
  &>div{
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;

  }
  .border-circle{
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  .border-rounded{
    border-radius: 100px;
    padding: 10px 15px;
  }
}
