<div class="manage-address">
  <nz-drawer
      [nzVisible]="visible"
      nzPlacement="right"
      nzTitle="ĐỊA CHỈ"
      (nzOnClose)="close()"
    >
    <ng-container *nzDrawerContent>
      <div class="body">
        <div class="top">
          <app-box-address (chooseEmitter)="chooseAddress($event)" [isShowGroupBtn]="true" (removeEmitter)="removeAddress($event)" (modifyEmitter)="modifyAddress($event)" *ngFor="let a of list_address;index as i" [info]="a"></app-box-address>
        </div>
        <div class="bottom">
          <div class="btn" (click)="isFormAddress=true">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            THÊM ĐỊA CHỈ MỚI
          </div>
        </div>
      </div>
    </ng-container>
  </nz-drawer>
  <nz-modal
      [(nzVisible)]="isFormAddress"
      nzTitle="Địa chỉ"
      nzCentered
      (nzOnCancel)="isFormAddress=false"
      (nzOnOk)="submitFormAddress()"
      nzOkText="Xác Nhận"
      nzCancelText="Hủy"
    >
      <ng-container *nzModalContent>
        <div class="group">
          <p class="label">Tên người nhận:</p>
          <input nz-input placeholder="Họ và tên" [(ngModel)]="addressForm.name" />
        </div>
        <div class="group">
          <p class="label">Số điện thoại:</p>
          <input nz-input placeholder="Số điện thoại" [(ngModel)]="addressForm.contactNumber" />
        </div>
        <div class="group">
          <p class="label">Địa chỉ nhận:</p>
          <input nz-input placeholder="Địa chỉ" [(ngModel)]="addressForm.address" />
        </div>

        <div class="group">
          <label nz-checkbox [(ngModel)]="addressForm.default">Đặt địa chỉ làm mặc định</label>
        </div>
      </ng-container>
    </nz-modal>
</div>
