.title{
  color: #000;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}
.subtitle{
  color: #000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}
p{
  color: #000;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

h3{
  font-size: 32px !important;
  line-height: 38px;
  font-weight: 700;
}

ul li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

ul{
  padding-inline-start: 40px;
}

ul li {
  list-style: disc;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.header-section{
  background-color: #000;
  color: #fff;

  p{
    color: #fff;
  }


  .btn{
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    span{
      margin-right: 10px;
      font-size: 15px;
    }

  }

  .title{
    color: #fff;
  }



}

.content-section{
  margin-bottom: 80px;

  .title{
    color: #000;
    margin: 50px 0 30px 0;
  }
}
