<section class="header-section">
  <div class="container">
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <div class="btn" (click)="back()">
          <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
          {{ 'BUTTONS.BACK' | translate }}
        </div>

        <!-- <h2 class="title">Chính Sách Quyền Riêng Tư</h2>
        <p>Chúng tôi đánh giá cao quan điểm và trải nghiệm đa dạng của người dùng, đồng thời chúng tôi khuyến khích sự
          cộng tác và gắn kết với cộng đồng. Nền tảng của chúng tôi mang đến cơ hội cho người dùng đóng góp kiến ​​thức,
          chia sẻ ý kiến ​​và tham gia thảo luận với những cá nhân có cùng chí hướng.</p> -->
        <h2 class="title">{{ 'PRIVACY_POLICY.TITLE' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.SUBTITLE' | translate }}</p>
      </div>
    </div>
  </div>
</section>
<section class="content-section">
  <div class="container">
    
    <app-markdown-page slug="privacy-policy"></app-markdown-page>
  </div>
</section>




