::ng-deep .ant-rate-star ,::ng-deep .ng-star-inserted[ng-reflect-nz-theme="outline"]{
  color: #a7897b !important;
}
.customer-review{
  color: #000;
  background-color: #fff;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
}
.text{
  color: #000;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

