

.card-wrapper img{
    width: 100%;
    display: flex;
}

.card-content{
    text-align: center;
}

.card-content button{
    background-color: #262626;
    border: 1px solid #262626;
}

.card-content button:hover{
    border: solid 1px #000;
    background-color: #000 !important;
    transition: 0,5s;
}