
<div class="product-item" [ngStyle]="{'background-color':bg, 'color':color_text}">

    <div class="tag-sale" *ngIf="product.sale[selectedSize]"><span>- {{product?.sale[selectedSize]}}%</span></div>
    <div><img src="https://coffee-workdo.myshopify.com/cdn/shop/products/1_f9e82651-1554-4bdc-a3bd-a8f8d1c454eb_306x203.png?v=1672658975" alt=""></div>
    <div class="icon" style="display: flex;flex-direction: column;justify-content: space-between;">
        <!-- <span nz-icon nzType="heart" [nzTheme]="isFavorite?'fill':'outline'" (click)="isFavorite=!isFavorite"></span> -->
        <!-- <span nz-icon nzType="swap" nzTheme="outline"></span>
        <span nz-icon nzType="eye" nzTheme="outline"></span> -->
    </div>
    <div class="product-content">
        <div class="subtitle" [ngStyle]="{'color':color_text}">
            {{product.c_name}}
        </div>
        <a class="name" [href]="'products/'+this.product.name_id" [ngStyle]="{'color':color_text}">{{product.name}}</a>
    </div>
    <div class="select">
        <div>
            <nz-select [nzBorderless]="true" class="color" [(ngModel)]="selectedSize" [ngStyle]="{'color':color_text, 'border':'1px solid '+color_text}">
              <nz-option *ngFor="let size of product.size;index as i" [nzValue]="i" [nzLabel]="size"></nz-option>
            </nz-select>
        </div>
    </div>
    <div nz-row class="group" >
        <div nz-col nzSpan="12" style="font-weight: 800;" [ngStyle]="{'color':color_text}">
          <span class="price">{{(product.sale[selectedSize])?product.cost[selectedSize]*(product.sale[selectedSize]/100):product.cost[selectedSize]}}</span>
          <span class="cost" *ngIf="product.sale[selectedSize]">{{product.cost[selectedSize]}}</span>
        </div>
        <div nz-col nzSpan="12" style="display: flex; align-items: center;" >
            <div class="btnAddToCart" style="font-weight: 700;" (click)="AddToCart()">
                <span [ngStyle]="{'color':color_text}">+Add To Cart</span>
            </div>
        </div>
      </div>
</div>
