.item-shopping{
    border: solid 2px black;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    margin:  10px 0;
    img{
        width: 100%;
        padding: 10px;
    }
    .information{
        width: 100%;
       .top{
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .name{
          font-weight: 800;
          flex: 1;
          cursor: pointer;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
                  line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        svg{

            padding-right: 10px;
        }


       }
       .note{
        font-style: italic;
        color: #a1a1a1;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2;
        -webkit-box-orient: vertical;
      }
       .price{
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 10px;
       }
       .cost{
        font-size: 14px;
        color: #262626;
        font-weight: 600;
        text-decoration: line-through;
        font-style: italic;
        opacity: .7;
        margin-right: 10px;
        user-select: none;
      }
      .quantity{
        color:#000;
        border: 1px solid #000;
        background-color: transparent;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px;
        border-radius: 100px;
        width: max-content;
        margin-top: 10px;
        flex: 1;
        span{
          font-size: 18px;
          cursor: pointer;
          flex: 3;
        }
        input{
          background-color: transparent;
          border: none;
          outline: 0;
          text-align: center;
          flex: 4;
          width: 100%;
          height: 100%;
          max-width: 50px;
          min-width: 20px;
        }
      }
    }
}
