
<div nz-row class="product-note" nzGutter="20" [ngStyle]="{'background-color':bg}">
  <div nz-col nzSpan = "10">
    <div class="group" style="display: flex;align-items: center;height: 100%;">
      <div class="tag-sale"><span>-14%</span></div>
      <div><img src="https://coffee-workdo.myshopify.com/cdn/shop/products/1_6ea37d25-5b98-4ae3-90c2-fae660407b3d_600x600.png?v=1672651340" alt=""></div>
      <div class="icons" style="display: flex;flex-direction: column;justify-content: space-between;">
        <!-- <span nz-icon nzType="heart" [nzTheme]="isFavorite?'fill':'outline'" (click)="isFavorite=!isFavorite"></span> -->
        <!-- <span nz-icon nzType="eye" nzTheme="outline"></span>
        <span nz-icon nzType="swap" nzTheme="outline"></span> -->
      </div>
    </div>
  </div>
  <div nz-col nzSpan="14">
      <div class="product-info">
        <div class="group">
          <span class="name" style="font-weight: 900;">{{product.name}}</span>
        </div>
        <div class="group">
          <span class="type" style="font-weight: 700;">{{product.c_name}}</span>
        </div>
        <div class="group">
          <nz-select [nzBorderless]="true" class="color" [(ngModel)]="selectedSize" >
              <nz-option *ngFor="let size of product.size;index as i" [nzValue]="i" [nzLabel]="size"></nz-option>
          </nz-select>
        </div>
        <div nz-row class="group" >
          <div nz-col nzSpan="12" style="font-weight: 800;">
              <div class="price"><span>{{(product.sale[selectedSize]>0)?(product.cost[selectedSize]-product.cost[selectedSize]*(product.sale[selectedSize]/100)):product.cost[selectedSize]}}</span></div>
              <div class="cost" *ngIf="product.sale[selectedSize]>0"><span>{{product.cost[selectedSize]}}</span></div>
          </div>
          <div nz-col nzSpan="12" style="display: flex; align-items: center;">
              <div class="btnAddToCart" style="font-weight: 700;">
                  <span>+Add To Cart</span>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
