section{
  padding-bottom: 80px;
}
.title{
  color: #000;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}
.subtitle{
  color: #000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}
.bill{
  box-shadow: 0px 3px 25px 0px rgba(31,38,67,0.1);
  .header{
    padding: 30px;
    display: flex;
    align-items: center;
    p{
      margin: 0;
    }
  }
  .footer{
    box-shadow: 0 0 8px #0000004d;
    padding: 30px;
    .inline{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }

  .date-created{
    color: #a1a1a1;
    font-style: italic;
    font-size: 12px;
    margin-left: 30px;
  }

}



.content-section{
  background-color: #f5f5f5;

}

.border-top{
  border-top: 1px solid #000;
}
.border-right{
border-right: 1px solid #000;
}
.border-left{
border-left: 1px solid #000;
}
.border-bottom{
border-bottom: 1.5px solid #d6d6d6;
}

.list-products{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 20px;
}

.product{
  display: flex;
  align-items: center;
  width: 500px;

  .left{
    margin-right: 10px;
    position: relative;
  }
  img{
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .note{
    font-style: italic;
    color: #a1a1a1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .quantity{
    margin:0;
  }
  .center{
    &>div{
      display: flex;
    }
    .size{
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
  .right{
    flex: 1;
    font-weight: 800;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  }
  .name{
    overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
              line-clamp: 1;
      -webkit-box-orient: vertical;
  }
  .price{
    font-size: 14px;
    margin:0;
  }
  .cost{
    opacity: .7;
    text-decoration: line-through;
    font-size: 12px;
  }
}



.product:not(:last-child){
  margin-bottom: 20px;
}
