<nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="100">
  <ng-template #tpl>
    <span nz-icon nzType="up-circle" nzTheme="fill" style="font-size: 30px; color: #262626;"></span>
  </ng-template>
</nz-back-top>
<section class="content-section">
  <div class="container">
    <div class="btn" (click)="back()">
      <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
      Trở Về
    </div>
    <app-show-full-invoice *ngIf="bill" [bill]="bill"></app-show-full-invoice>

  </div>
</section>
