.btnRegister,.btnLogin, .btnSubmit_ResetPW
{
  color: #ffffff !important;
  background-color: #262626 !important;
  border: none;
  width: 150px;
  height: 50px;
}

.btnRegister:hover,.btnLogin:hover, .btnSubmit_ResetPW:hover
{
  background-color: #000 !important;
  transition: 0,5s;
}

.form_grow sup{
  color: #ff0000;
}

.form_grow input{
  border: 1px solid black;
  padding: 10px 15px;
}

.form_group sup{
  color: red;
}

.form_group input{
  border: 1px solid black;
  padding: 10px 15px;
}

.group{
  padding: 20px 15px;

  .span_forgotPassword{
    color: #ff0000;
    text-decoration: underline;
    font-size: 14px;
    margin-right: 15px;
    cursor: pointer;
  }
  .span_forgotPassword:hover{
    text-decoration: none;
  }

  span{
    font-weight: 500;
  }

  input{
    margin-top: 15px;
  }
}

.group-container-btnRegister{
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-top{
  border-top: 1px solid #000;
}
.border-right{
  border-right: 1px solid #000;
}
.border-left{
  border-left: 1px solid #000;
}
.border-bottom{
  border-bottom: 3px solid #000;
}






