
<section *ngIf="isFormLogin===true">
  <div class="container">
    <h4 class="subtitle" style="text-align: center;">Đăng Nhập</h4>


  <div nz-col style="padding: 10px;">
    <div class="group border-top border-right border-left">
      <div  nz-row [nzGutter]="[15]">
        <div class="field form_grow" nz-col nzSpan="12">
          <span>E-mail <sup aria-hidden="true">*</sup> :</span>
            <input nz-input placeholder="Email" [(ngModel)]="user_email" type="text" />
        </div>
        <div nz-col nzSpan="12">
          <span>Mật khẩu <sup aria-hidden="true">*</sup> :</span>
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              placeholder="Mật khẩu"
              [(ngModel)]="user_password"
            />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <span style="cursor: pointer;"
              nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></span>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="group border-top border-right border-left" style="display: flex; justify-content: end;align-items: center;">
      <span class="span_forgotPassword" (click)="this.route.navigate(['account/login/reset-your-password'])">Quên mật khẩu?</span>
      <button nz-button nzType="primary" (click)="submit()" class="btnLogin" >
        Đăng Nhập
        <span nz-icon nzType="arrow-right"></span>
      </button>
    </div>
    <div class="group border-top border-right border-left border-bottom group-container-btnRegister">
      <span style="margin-right: 15px;">
        Chưa có tài khoản ?
      </span>
      <button nz-button nzType="primary" (click)="register()" class="btnRegister" >
        Đăng Ký
        <span nz-icon nzType="arrow-right"></span>
      </button>
    </div>
  </div>
  </div>
</section>
<section *ngIf="isFormLogin===false">
  <div class="container">
    <h2>Reset your password</h2>
    <!-- <span style="color: #ff0000;" *ngIf="!isMessage"><span nz-icon nzType="exclamation-circle" nzTheme="outline"></span> No account found with that email.</span> -->
    <input nz-input placeholder="Email" [(ngModel)]="resetYP_email" type="text" style="margin-bottom: 10px;">
    <button nz-button nzType="primary" class="btnSubmit_ResetPW" (click)="submit_resetPW()">
      Submit
    </button>
  </div>
</section>

