
::ng-deep .ant-spin-spinning{
  max-height: 100vh !important;
  .ant-spin-dot{
    i{
      background-color:#a7897b
    }
  }
  .ant-spin-text{
    color: #000 !important;
  }
}

::ng-deep .ant-spin-blur{
  opacity: 0;
}
