.product-item{
  display: flex;
  max-width: 300px;
  flex-direction: column;
  padding: 15px;
  background-color: #a7897b;
  color: #fff;
  border-radius: 10px;
  align-items: center;
  img{
    width: 70%;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .name{
    font-weight: 900;
    font-size: 18px;
    cursor: pointer;
  }
  .price, .cost{
    font-weight: 700;
  }
  .price{
    margin-right: 10px;
    font-size: 14px;
  }
  .cost{
    opacity: .7;
    text-decoration: line-through;
    font-size: 12px;
  }
}
