<section [ngStyle]="{'padding':(submited)?'100px 0':'80px 0'}">
  <div class="container" *ngIf="!submited">
    <h4 class="subtitle" style="text-align: center;">{{ 'REGISTER.TITLE' | translate }}</h4>

    <div class="group border-top border-right border-left" style="padding: 15px 20px;">
        <div class ="form_group field">
          <p>{{ 'REGISTER.FULLNAME' | translate }}<sup aria-hidden="true"> *</sup> :</p>
          <input nz-input [placeholder]="'REGISTER.FULLNAME' | translate" [(ngModel)]="user.fullname" type="text" />
        </div>
        <div class="form_group field">
            <p>{{'REGISTER.EMAIL' | translate}}<sup aria-hidden="true"> *</sup> :</p>
            <input nz-input [placeholder]="'REGISTER.EMAIL' | translate" [(ngModel)]="user.email" type="text" />
        </div>
    </div>

    <div class="group border-top border-right border-left" style="padding: 15px 20px;">
        <div class ="field">
            <p>{{'REGISTER.PASSWORD' | translate}}<sup aria-hidden="true"> *</sup> :</p>
            <nz-input-group [nzSuffix]="suffixTemplate">
              <input
                [type]="passwordVisible ? 'text' : 'password'"
                nz-input
                [placeholder]="'REGISTER.PASSWORD' | translate"
                [(ngModel)]="user.password"
              />
            </nz-input-group>
        </div>

        <div class ="field">
          <p>{{'REGISTER.CONFIRM_PASSWORD' | translate}}<sup aria-hidden="true"> *</sup> :</p>
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              [placeholder]="'REGISTER.CONFIRM_PASSWORD' | translate"
              [(ngModel)]="user.confirm_password"
            />
          </nz-input-group>
        </div>

        <ng-template #suffixTemplate>
          <nz-icon style="cursor: pointer;"
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></nz-icon>
        </ng-template>
    </div>

    <div class="group border-top border-right border-left border-bottom" style="padding: 15px 20px;">
        <button nz-button nzType="primary" class="btnSendMess" (click)="SendMess_Register()" [disabled]="processing">
            {{'REGISTER.REGISTER_BUTTON' | translate}}
            <nz-icon nzType="arrow-right"></nz-icon>
        </button>
    </div>


  </div>

  <div class="container" *ngIf="submited">
    <nz-result

      nzStatus="success"
      [nzTitle]="'Chờ xác thực tài khoản'"
      [nzSubTitle]="'Vui lòng xác nhận tài khoản trong hộp thư '+this.user.email"
    >
    <div nz-result-extra>
      <button nz-button routerLink="/account/login">Tải lại trang</button>
    </div>
    </nz-result>

  </div>
</section>



