<section [ngStyle]="{'padding':(submited)?'100px 0':'80px 0'}">
  <div class="container" *ngIf="!submited">
    <div class="group border-top border-right border-left" style="padding: 15px 20px;">
      <h2>Đăng Ký Tài Khoản</h2>
    </div>

    <div class="group border-top border-right border-left" style="padding: 15px 20px;">
        <div class ="form_group field">
          <p>Họ và tên<sup aria-hidden="true"> *</sup> :</p>
          <input nz-input placeholder="Họ và tên" [(ngModel)]="fullname" type="text" />
        </div>
        <div class="form_group field">
            <p>E-mail<sup aria-hidden="true"> *</sup> :</p>
            <input nz-input placeholder="Email" [(ngModel)]="Email_Fill" type="text" />
        </div>
    </div>

    <div class="group border-top border-right border-left" style="padding: 15px 20px;">
        <div class ="form_group field">
            <p>Mật khẩu<sup aria-hidden="true"> *</sup> :</p>
            <input nz-input placeholder="Mật khẩu" [(ngModel)]="Password_Fill" type="password" />
        </div>

        <div class ="form_group field">
          <p>Xác nhận mật khẩu<sup aria-hidden="true"> *</sup> :</p>
          <input nz-input placeholder="Xác nhận mật khẩu" [(ngModel)]="Password_Fill" type="password" />
      </div>
    </div>

    <div class="group border-top border-right border-left border-bottom" style="padding: 15px 20px;">
        <button nz-button nzType="primary" class="btnSendMess" (click)="SendMess_Register()">
            Đăng Ký
            <span nz-icon nzType="arrow-right"></span>
        </button>
    </div>


  </div>

  <div class="container" *ngIf="submited">
    <nz-result

      nzStatus="success"
      [nzTitle]="'Chờ xác thực tài khoản'"
      [nzSubTitle]="'Vui lòng xác nhận tài khoản trong hộp thư '+Email_Fill"
    >
    <div nz-result-extra>
      <button nz-button (click)="reload()">Tải lại trang</button>
    </div>
    </nz-result>

  </div>
</section>



