<nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="100">
  <ng-template #tpl>
    <span nz-icon nzType="up-circle" nzTheme="fill" style="font-size: 30px; color: #262626;"></span>
  </ng-template>
</nz-back-top>
<section class="header-section">
  <div class="container">
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <div class="btn" (click)="back()">
          <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
          Trở Về
        </div>

        <h2 class="title">Đơn hàng</h2>
      </div>
    </div>
  </div>
</section>

<section class="content-section">
  <div class="container">
    <nz-tabset>
      <nz-tab [nzTitle]="titleTemplate" *ngFor="let tab of tabs" (nzClick)="changeStatus(tab.status)">
        <ng-template #titleTemplate>
          <span *ngIf="tab.icon.length>0" nz-icon [nzType]="tab.icon" nzTheme="outline"></span>
          {{ tab.name }}
        </ng-template>
        <app-bill *ngFor="let bill of bills_v" [bill]="bill"></app-bill>
      </nz-tab>
  </nz-tabset>
  </div>
</section>
