section:not([class='first-section']){
  padding-top: 80px;
}
.subtitle{
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}
p{
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.link-btn{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  position: relative;
  color: #fff;
  cursor: pointer;

  &::before{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #fff;
    transition: all ease-in-out .5s;


  }

  &:hover::before{
    background: #a7897b !important;
  }

}

.content{
  color: #a7897b;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

.fw-500{
  font-weight: 500 !important;
}

.first-section{
  padding: 200px 0 300px;
  z-index: -1;
  position: relative;
  &::before{
    content: "";
    background: linear-gradient(358.82deg, #040404 .95%, #6a593d00 83.76%), linear-gradient(71.98deg, #262626 -1.41%, #6a593d00 30.34%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .banner-center-content{
    z-index: 2;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    h2{
      color: #fff;
      font-size: 51px;
      line-height: 61px;
      font-weight: 700;
    }

    .content{
      animation: show_ 2s 2s infinite ease-in-out alternate;
    }
  }
  video{
    z-index: -1;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-clip-margin: content-box;
    overflow: clip;

  }
}

.second-section{
  background-color: var(--bg);
  [nz-carousel-content] {
    // text-align: center;
    height: 400px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    padding: 10px;
  }

  .tabs{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    .selected>p{
      color: #a7897b !important;
    }
    li{

      margin: 0 20px;
      cursor: pointer;
      max-width: max-content;
      position: relative;
      p{
        margin: 0;


      }
      &::before{
        content: "";
      display: block;
      width: 0;
      background-color: #a7897b;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      transition: 0.5s ease;
      height: 2px;


      }

      &:hover::before{
        width: 100%;
      }
    }


  }


  .view-products{
    position: relative;
    .previous{
      left: 0;
    }
    .next{
      right: 0;
    }
    &:hover .btn{
      opacity: 1;
    }
    .btn{
      background-color: #a7897b61;
      aspect-ratio: 1/1;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 1px solid #fff;
      cursor: pointer;
      backdrop-filter: blur(9px);
      z-index: 2;
      margin: 0 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all .5s;
      opacity: 0;
      span{
        font-size: 20px;
      }
      &:hover{
        background-color: #a7897bad;
      }
    }
  }
}



.third-section{
  position: relative;
  padding: 80px 0;
  background-color: var(--bg);

  .bean{
    padding: 55px 20px;
    position: relative;
    z-index: 1;


    video{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: -1;
    }

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #000000e6 .08%, #0000 99.92%);
    }
  }

}

.fourth-section{
  background-color: var(--bg);
}

.fiveth-section{
  background-color: var(--bg);
  [app-product3]{
    background-color: #a7897b;
  }
}

.sixth-section{
  background-color: var(--bg);
}
.subcribe-section{
  background-color: var(--bg);
  .banner{
    position: relative;
    z-index: 1;
    padding: 40px;
    border-radius: 20px;
    &::before{
      content: "";
      position: absolute;
      z-index: 0;
      background: #12121285;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
    }
    img{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 20px;
      z-index: -1;
      object-fit: cover;
    }
  }

  .subcribe-column{
    max-width: 500px;
    color: #fff;
    position: relative;
  }
}

.eightth-section{
  background-color: var(--bg);
}

@keyframes show_ {

  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

@keyframes hidden_ {

  from{
      opacity: 1;
  }
  to{
      opacity: 0;
  }
}


