<section class="first-section">
  <div class="bean">
    <video src="../../../assets/video/video_home_firstSection.mp4" muted="muted" loop autoplay playsinline controlslist="nodownload"></video>
  </div>
  <div class="banner-center-content">
    <div class="subtitle">CoffeeStore</div>
    <h2 class="content">Chocolate Coffee</h2>
    <p>Coffee that fuels your dreams. Life is short, stay awake for it. Coffee, Art, and Vintage. Fuel for your creativity.</p>
    <a href="" class="link-btn">Show products</a>
  </div>
</section>
<section class="second-section">
  <div class="container">
    <div style="display: flex;justify-content: space-between;margin-bottom: 20px;">
      <ul class="tabs">
        <li class="selected"><p>Bán Chạy</p></li>
        <li><p>Trà Trái Cây</p></li>
        <li><p>Trà Sữa</p></li>
        <li><p>Cà Phê</p></li>
        <li><p>Bánh Ăn Kèm</p></li>
      </ul>
      <a href="/all-products" class="link-btn">XEM THÊM</a>
    </div>

  <div class="view-products">
    <div class="previous btn">
      <span nz-icon nzType="left" nzTheme="outline" style="color: #fff;"></span>
    </div>
    <div class="next btn">
      <span nz-icon nzType="right" nzTheme="outline" style="color: #fff;"></span>
    </div>
    <nz-carousel nzEffect="scrollx" nzAutoPlay [nzDots]="false">
      <div nz-carousel-content *ngFor="let i of [1,2,3]">
        <div>
          <div nz-row [nzGutter]="[40,20]">
            <app-product2 nz-col [nzSpan]="8" *ngFor="let i of [1,2,3,4,5,6]"></app-product2>

          </div>
        </div>
        <!-- <h3>{{i}}</h3> -->
      </div>
    </nz-carousel>
  </div>
  </div>
</section>
<section class="third-section">
  <div class="container">
    <div class="bean">
      <video src="../../../assets/video/video_home_2.mp4" muted="muted" loop autoplay="true" playsinline controlslist="nodownload"></video>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col nzSpan="8">
          <div class="subtitle">CoffeeStore</div>
          <h3 class="content">The best coffee</h3>
          <p>As the coffee shop market becomes more popular, the number of cafe websites is growing. The internet and social media play an important role in finding new customers.</p>
          <a href="/all-products" class="link-btn">Show products</a>
        </div>
        <div nz-col nzSpan="8">
          <app-product2></app-product2>
        </div>
        <div nz-col nzSpan="8">
          <app-product2></app-product2>
        </div>
      </div>
      </div>
  </div>
</section>
<section class="fourth-section">
  <div class="container">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col nzSpan="8">
        <div class="subtitle">CoffeeStore</div>
        <h3 class="content">Fresh roasted coffee <br> with 24h delivery blogs</h3>
        <p>Denver Biscuit cafe knows how to entice future customers. A video takes viewers all the way from the preparation of one of their desserts to the service.</p>
        <a href="/all-products" class="link-btn">Show products</a>
      </div>
      <div nz-col nzSpan="8">
        <div class="subtitle fw-500">Choose the origin of the coffee:</div>
        <h3 class="content">Spain</h3>
        <img style="opacity: .4;" src="../../../assets/images/flying-coffee.webp" alt="">
      </div>
      <div nz-col nzSpan="8">
        <app-rating-product></app-rating-product>
        <app-rating-product></app-rating-product>
      </div>
    </div>
  </div>
</section>
<section class="fiveth-section">
  <div class="container">
    <div style="display: flex;justify-content: space-between;margin-bottom: 20px;">
      <div>
        <div class="subtitle">CoffeeStore</div>
        <h3 class="content">Coffee Shop Best Discount ‘s Product</h3>
      </div>
      <div>
        <a href="/all-products" class="link-btn">XEM THÊM</a>
      </div>
    </div>
    <div nz-row [nzGutter]="[24,12]">
      <div nz-col [nzSpan]="6" *ngFor="let i of [1,2,3,4]">
        <app-product3 bg="#a7897b" color_text="#fff"></app-product3>
      </div>
    </div>
  </div>
</section>
<section class="sixth-section">
  <div class="container">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col nzSpan="8">
        <div class="subtitle">CoffeeStore</div>
        <h3 class="content">Shop Best Seller <br> Product</h3>
        <p>Coffee is a drink prepared from roasted coffee beans. Darkly colored, bitter, and slightly acidic, coffee has a stimulating effect on humans, primarily due to its caffeine content.</p>
        <a href="/all-products" class="link-btn">Show Products</a>
      </div>
      <div nz-col nzSpan="8" style="display: flex;justify-content: center;align-items: center;">
        <img src="../../../assets/images/Cup_of_Coffee.H03_1.avif" alt="">
      </div>
      <div nz-col nzSpan="8">
        <app-product2></app-product2>
      </div>
    </div>
  </div>
</section>
<section class="subcribe-section">
  <div class="container">
    <div class="banner">
      <img src="../../../assets/images/Subscribe-banner.webp" alt="">
      <div class="subcribe-column">
        <div class="subtitle">CoffeeStore</div>
        <h3 class="content">Subscribe newsletter and get <br> -20% off</h3>
        <p>It is the most popular hot drink in the world. Seeds of the Coffea plant's fruits are separated to produce unroasted green coffee beans.</p>

      </div>
    </div>

  </div>
</section>
<section class="eightth-section">
  <div class="container">
    <div class="bean">
      <div nz-row [nzGutter]="[16,16]">
        <div nz-col [nzSpan]="10">
          <div class="subtitle">CoffeeStore</div>
          <h3 class="content">Fresh roasted coffee <br> Blogs</h3>
          <p>Coffee is a beverage brewed from the roasted and ground seeds of the tropical evergreen coffee plant.</p>
          <a href="/blogs" class="link-btn">Show Blogs</a>
        </div>
        <div nz-col [nzSpan]="7">
          <app-blog></app-blog>
        </div>
        <div nz-col [nzSpan]="7">
          <app-blog></app-blog>
        </div>
      </div>
      </div>
  </div>
</section>
