<section *ngIf="must_load<=0" class="first-section">
  <div class="bean">
    <video src="../../../assets/video/video_home_firstSection.mp4" muted="muted" loop autoplay playsinline controlslist="nodownload"></video>
  </div>
  <div class="banner-center-content">
    <div class="subtitle">CoffeeStore</div>
    <h2 class="content">Chocolate Coffee</h2>
    <p>Mang đến hương vị ngon, ngọt, mát lành. Mang đến năng lượng cho bạn mỗi ngày.</p>
  </div>
</section>
<!-- <section *ngIf="must_load<=0" class="second-section">
  <div class="container">
    <div style="display: flex;justify-content: space-between;margin-bottom: 20px;">
      <ul class="tabs">
        <li *ngFor="let cate of categories" [ngClass]="{'selected':selected_tab==cate.id}" (click)="selected_tab=cate.id"><p>{{cate.name}}</p></li>

      </ul>
      <a href="/all-products" class="link-btn">XEM THÊM</a>
    </div>

  <div class="view-products">
    <div class="previous btn">
      <span nz-icon nzType="left" nzTheme="outline" style="color: #fff;"></span>
    </div>
    <div class="next btn">
      <span nz-icon nzType="right" nzTheme="outline" style="color: #fff;"></span>
    </div>
    <nz-carousel nzEffect="scrollx" nzAutoPlay="true" [nzDots]="false" (nzAfterChange)="changeTab($event)">
      <div nz-carousel-content *ngFor="let i of categories">
        <div>
          <div nz-row [nzGutter]="[40,20]" *ngIf="products_by_cate[selected_tab]&&products_by_cate[selected_tab].length>0">
            <app-product2 nz-col [nzSpan]="8" *ngFor="let product of products_by_cate[selected_tab]" [product]="product"></app-product2>

          </div>
          <h3 style="color: #fff;" *ngIf="!products_by_cate[selected_tab]||products_by_cate[selected_tab].length==0">Đang cập nhật...</h3>
        </div>

      </div>
    </nz-carousel>
  </div>
  </div>
</section> -->
<section *ngIf="must_load<=0" class="third-section">
  <div class="container">
    <div class="bean">
      <video src="../../../assets/video/video_home_2.mp4" muted="muted" loop autoplay="true" playsinline controlslist="nodownload" style="border-radius: 10px;"></video>
      <div nz-row [nzGutter]="[16,16]">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
          <div class="subtitle">CoffeeStore</div>
          <h3 class="content">{{ 'HOME.THE_BEST_COFFEE.TITLE' | translate }}</h3>
          <p>{{ 'HOME.THE_BEST_COFFEE.SUBTITLE' | translate }}</p>
          <a href="/all-products" class="link-btn">{{ 'BUTTONS.SHOW_PRODUCTS' | translate }}</a>
        </div>
        <div nz-col nzSpan="8">
          <!-- <app-product2></app-product2> -->
        </div>
        <div nz-col nzSpan="8">
          <!-- <app-product2></app-product2> -->
        </div>
      </div>
      </div>
  </div>
</section>
<section *ngIf="must_load<=0" class="fourth-section">
  <div class="container">
    <div nz-row [nzGutter]="[16,16]" nzJustify="center">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <div class="subtitle">CoffeeStore</div>
        <h3 class="content">{{ 'HOME.COFFEE_EXPERIENCE.MAIN.LINE_1' | translate }} <br> {{ 'HOME.COFFEE_EXPERIENCE.MAIN.LINE_2' | translate }}</h3>
        <!-- <p>Coffee Store sẽ luôn cố gắng mang đến trải nghiệm tốt nhất cho bạn.</p> -->
        <p>{{ 'HOME.COFFEE_EXPERIENCE.MAIN.SUBTITLE' | translate }}</p>
        <a href="/all-products" class="link-btn">{{ 'BUTTONS.SHOW_PRODUCTS' | translate }}</a>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <!-- <div class="subtitle fw-500">Nguyên liệu được nhập trực tiếp từ</div> -->
         <div class="subtitle fw-500">{{ 'HOME.COFFEE_EXPERIENCE.MAIN.CHOOSE_ORIGIN' | translate }}</div>
        <h3 class="content">{{ 'HOME.COFFEE_EXPERIENCE.MAIN.COUNTRY' | translate }}</h3>
        <img style="opacity: .4;" src="../../../assets/images/flying-coffee.webp" alt="">
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <app-rating-product *ngFor="let cs of best_customer_reviews" [review]="cs"></app-rating-product>
      </div>
    </div>
  </div>
</section>
<section *ngIf="must_load<=0" class="fiveth-section">
  <div class="container">
    <div nz-row [nzGutter]="[16,16]" nzJustify="space-between" nzAlign="middle">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18">
        <div class="subtitle">CoffeeStore</div>
        <!-- <h3 class="content">Khuyến mãi cực khủng</h3> -->
        <h3 class="content">{{ 'HOME.BEST_DISCOUNT.TITLE' | translate }}</h3>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <a style="float: right; margin-bottom: 15px;" href="/all-products" class="link-btn">{{ 'BUTTONS.SHOW_PRODUCTS' | translate }}</a>
      </div>
    </div>
    <div nz-row [nzGutter]="[16,16]">
      <div nz-col [nzXs]="12" [nzSm]="8" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"*ngFor="let product of products_best_discount">
        <app-product3 bg="#a7897b" color_text="#fff" [product]="product" (addToCartEmitter)="addToCart($event)"></app-product3>
      </div>
    </div>
  </div>
</section>
<section *ngIf="must_load<=0" class="sixth-section">
  <div class="container">
    <div nz-row [nzGutter]="[16,16]" nzJustify="center">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" style="z-index: 1;">
        <div>
          <div class="subtitle">CoffeeStore</div>
        <!-- <h3 class="content">Sản phẩm <br> thịnh hành</h3> -->
         <h3 class="content" style="z-index: 1;">{{ 'HOME.POPULAR_PRODUCTS.LINE_1' | translate }} <br> {{ 'HOME.POPULAR_PRODUCTS.LINE_2' | translate }}</h3>
        <!-- <p>Cà phê sữa đá từ lâu đã trở thành thức uống quốc dân của người Việt. Với hương vị đậm đà của cà phê hòa quyện cùng vị béo ngậy của sữa tươi, cà phê sữa đá chinh phục mọi khẩu vị, từ người lớn đến trẻ nhỏ.</p> -->
        <p>{{ 'HOME.POPULAR_PRODUCTS.SUBTITLE' | translate }}</p>
        <a href="/all-products" class="link-btn">{{ 'BUTTONS.SHOW_PRODUCTS' | translate }}</a>
        </div>
      </div>
      <div nz-col [nzXs]="10" [nzSm]="10" [nzMd]="6" [nzLg]="8" [nzXl]="8" [nzXXl]="8" style="display: flex;justify-content: center;align-items: center;z-index: 0;">
        <img src="../../../assets/images/Cup_of_Coffee.H03_1.avif" alt="">
      </div>
      <div nz-col [nzXs]="14" [nzSm]="12" [nzMd]="10" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <app-product2 [product]="this.products_best_discount[0]" (addToCartEmitter)="addToCart($event)"></app-product2>
      </div>
    </div>
  </div>
</section>
<section *ngIf="must_load<=0" class="subcribe-section">
  <div class="container">
    <div class="banner">
      <img src="../../../assets/images/Subscribe-banner.webp" alt="">
      <div class="subcribe-column">
        <div class="subtitle">CoffeeStore</div>
        <!-- <h3 class="content">Đăng ký thành viên mới <br> -20% tổng hóa đơn</h3> -->
        <h3 class="content">{{ 'HOME.SUBSCRIBE.LINE_1' | translate }} <br> {{ 'HOME.SUBSCRIBE.LINE_2' | translate }}</h3>
        <!-- <p>Đăng ký ngay để nhận mã giảm giá 20% và nhiều quà tặng hấp dẫn khác. Cơ hội sở hữu sản phẩm chất lượng với giá hời đang chờ bạn!</p> -->
        <p>{{ 'HOME.SUBSCRIBE.SUBTITLE' | translate }}</p>

      </div>
    </div>

  </div>
</section>
<section *ngIf="must_load<=0" class="eightth-section">
  <div class="container">
    <div class="bean">
      <div nz-row [nzGutter]="[16,16]" nzJustify="center">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" >
          <div class="subtitle">CoffeeStore</div>
          <!-- <h3 class="content">Fresh roasted coffee <br> Blogs</h3> -->
          <h3 class="content">{{ 'HOME.BLOG.LINE_1' | translate }} <br> {{ 'HOME.BLOG.LINE_2' | translate }}</h3>
          <!-- <p>Coffee is a beverage brewed from the roasted and ground seeds of the tropical evergreen coffee plant.</p> -->
          <p>{{ 'HOME.BLOG.SUBTITLE' | translate }}</p>
          <a href="/blogs" class="link-btn">{{ 'BUTTONS.SHOW_BLOGS' | translate }}</a>
        </div>
        <div nz-col [nzXs]="12" [nzSm]="10" [nzMd]="8" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
          <app-blog></app-blog>
        </div>
        <div nz-col [nzXs]="12" [nzSm]="10" [nzMd]="8" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
          <app-blog></app-blog>
        </div>
      </div>
      </div>
  </div>
</section>
