::ng-deep .ant-modal-footer{
  .ant-btn-primary{
    background-color: #000;
    border: none;
  }
}

.note-product{
  z-index: 1;
}

.group-qty{
  display: flex;
  align-items: center;
  span{
    margin-right: 20px;
  }
}
