<nz-modal [nzVisible]="visible" [nzTitle]="isCart==true?'Thêm vào giỏ':'Đặt món'" nzCentered (nzOnCancel)="cancel()" (nzOnOk)="submit()" (nzAfterOpen)="open()"
  nzOkText="Xác Nhận" nzCancelText="Hủy" class="note-product">
  <ng-container *nzModalContent>
    <p class="subtitle">{{product.name}} ({{product.size}})</p>
    <textarea nz-input placeholder="Thêm ghi chú..." [(ngModel)]="product.note"
      [nzAutosize]="{ minRows: 6, maxRows: 6 }"></textarea>
    <div class="group-qty">
      <span style="font-size: 16px;font-weight: 700;">Số lượng:</span>
      <input-quantity [quantity]="product.quantity||0" (onChange)="changeQuantity($event)"
        theme="dark"></input-quantity>
    </div>
  </ng-container>
</nz-modal>