<nz-layout>

  <nz-layout class="inner-layout">
    <nz-sider nzWidth="300px" nzTheme="light" nzCollapsible [(nzCollapsed)]="isCollapsed">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <!-- <li nzIcon="home">
        <span>Chuyển tới trang chủ</span>
      </li> -->

        <li nz-submenu nzOpen nzTitle="Quản lí đơn hàng" nzIcon="container">
          <ul>
            <li nz-menu-item nzSelected>Tất cả</li>
            <li nz-menu-item>Chờ xác nhận</li>
            <li nz-menu-item>Đang pha chế</li>
            <li nz-menu-item>Đang giao hàng</li>
            <li nz-menu-item>Đã nhận</li>
            <li nz-menu-item>Hủy & Hoàn trả</li>
          </ul>
        </li>
        <li nz-submenu nzOpen  nzTitle="Quản lí sản phẩm" nzIcon="appstore-add">
          <ul>
            <li nz-menu-item>Tất cả</li>
            <li nz-menu-item>Chương trình khuyến mãi</li>
            <li nz-menu-item>Bán chạy</li>
          </ul>
        </li>
        <li nz-submenu nzOpen  nzTitle="Quản lí người dùng" nzIcon="appstore-add">
          <ul>
            <li nz-menu-item>Tất cả</li>
            <li nz-menu-item>Chương trình khuyến mãi</li>
            <li nz-menu-item>Bán chạy</li>
          </ul>
        </li>

        <li nz-submenu nzTitle="Thống kê" nzIcon="line-chart">
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-content class="inner-content"><router-outlet></router-outlet></nz-content>
  </nz-layout>
</nz-layout>
