<nz-layout>

  <nz-layout class="inner-layout">
    <nz-sider nzWidth="300px" nzTheme="light" nzCollapsible [(nzCollapsed)]="isCollapsed">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <!-- <li nzIcon="home">
        <span>Chuyển tới trang chủ</span>
      </li> -->

        <nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          (click)="remote('orders')"
          [nzTooltipTitle]="isCollapsed ? 'Quản lí đơn hàng' : ''"
          [nzSelected]="titlePage=='orders'"
        >
          <span nz-icon nzType="container"></span>
          <span>Quản lí đơn hàng</span>
        </nz-menu-item>
        <li nz-submenu nzOpen  nzTitle="Quản lí sản phẩm / khuyến mãi" nzIcon="appstore-add" *ngIf="user.role>1">
          <ul>
            <nz-menu-item (click)="remote('manage-products')" [nzSelected]="titlePage=='manage-products'">Sản phẩm</nz-menu-item>
            <nz-menu-item (click)="remote('flash-sales')" [nzSelected]="titlePage=='flash-sales'">Chương trình khuyến mãi</nz-menu-item>
            <nz-menu-item (click)="remote('vouchers')" [nzSelected]="titlePage=='vouchers'">Phiếu giảm giá</nz-menu-item>
          </ul>
        </li>
        <li nz-submenu nzOpen  nzTitle="Quản lí tài khoản" nzIcon="user" *ngIf="user.role>1">
          <ul>
            <nz-menu-item (click)="remote('accounts-customer')" [nzSelected]="titlePage=='accounts-customer'">Khách hàng</nz-menu-item>
            <nz-menu-item (click)="remote('accounts-staff')" [nzSelected]="titlePage=='accounts-staff'">Nhân viên</nz-menu-item>
          </ul>
        </li>

        <!-- <li nz-submenu nzTitle="Thống kê" nzIcon="line-chart" *ngIf="user.role>1">
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li> -->

        <nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          (click)="userS.logout()"
          [nzTooltipTitle]="isCollapsed ? 'Đăng xuất' : ''"
        >
          <span nz-icon nzType="logout"></span>
          <span>Đăng xuất</span>
        </nz-menu-item>
      </ul>

    </nz-sider>
    <nz-content class="inner-content"><router-outlet></router-outlet></nz-content>
  </nz-layout>
</nz-layout>
