.container{
    padding-top: 40px;
    padding-bottom: 40px;

    .section-title{
        .sub-title{
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 28px;
        }

        h2{
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 28px;
        }
    }
}