<section class="header-section">
  <div class="container">
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <div class="btn" (click)="back()">
          <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
          {{ 'BUTTONS.BACK' | translate }}
        </div>

        <!-- <h2 class="title">Blog</h2>
        <p>Blog cà phê của chúng tôi là thiên đường thú vị cho tất cả những người đam mê cà phê, từ những người uống cà phê bình thường đến những người sành sỏi. Đi sâu vào thế giới nơi chúng tôi tôn vinh nghệ thuật, khoa học và văn hóa cà phê.</p> -->
        <h2 class="title">{{ 'BLOG.TITLE' | translate }}</h2>
        <p>{{ 'BLOG.SUBTITLE' | translate }}</p>
      </div>
    </div>
  </div>
</section>

<div class = "container">
    <div class = "section-title">
        <div class="subtitle">ALLBLOGS</div>
        <h2 class="title">COFFEE</h2>

        <div nz-row [nzGutter]="[24,24]">
            <app-blog nz-col [nzSpan]="8" *ngFor="let blog of blogs" [blog]="blog"></app-blog>
        </div>
    </div>
</div>
