.title{
  color: #000;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}
.subtitle{
  font-style: italic;
}
.all-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    .all-product-list{
        width: 90%;
        .filters{
            padding: 10px;
            color: #000;
            .filter-form{
                .filter{
                    border: #ffff;
                    border-bottom: 1px solid #E2E2E2;
                    margin-bottom: 10px;
                    padding: 10px;
                    // ul li::marker {
                    //   unicode-bidi: isolate;
                    //   font-variant-numeric: tabular-nums;
                    //   text-transform: none;
                    //   text-indent: 0px !important;
                    //   text-align: start !important;
                    //   text-align-last: start !important;
                    // }

                    // ul{
                    //   padding-inline-start: 40px;
                    // }

                    // ul li {
                    //   list-style: disc;
                    //   font-size: 16px;
                    //   line-height: 22px;
                    //   font-weight: 500;
                    //   cursor: pointer;
                    //   &:hover{
                    //     color: #a7897b;
                    //   }
                    // }
                }


                ::ng-deep .ant-collapse-header{
                    background-color: transparent;
                }




                .group-name{
                    margin-left: -5px;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    padding-right: 20px;
                    .quantity{
                        span{
                            padding: 2px;
                        }
                    }
                }
                .checkbox{
                    margin-left: -5px;
                    .group{
                        margin-bottom: 5px;

                    }
                }

            }
        }
    }

    .heading{
      display: flex;
      justify-content:
      space-between;
      font-size: 14px;
      margin-bottom: 30px;
    }
}
::ng-deep .ant-collapse{
    border: none;
    background-color: transparent;
}

::ng-deep .ant-collapse-content{
    border: none;

}

::ng-deep .ant-collapse-header{
    padding-bottom: 0 !important;
}

::ng-deep .ant-collapse-item{
    border: none !important;
}


