<div class="all-products">
  <div class="all-product-list" nzGutter="16px">
    <div nz-col class="filters" nzSpan="12">
      <div style="padding: 20px;"><span>Filters</span></div>
      <div class="group">
        <ul nz-menu nzMode="inline" style="width: 240px;">
          <li
            nz-submenu
            [(nzOpen)]="openMap['sub1']"
            (nzOpenChange)="openHandler('sub1')"
            nzTitle="Availability"
            nzIcon=""
          >
            <div class="Selected"><span> Selected</span></div>
            <div class="Reset"><span>Reset</span></div>
            <ul>
              <li nz-menu-item>In stock</li>
              <li nz-menu-item>Out of stock</li>
            </ul>
          </li>
          <li
            nz-submenu
            [(nzOpen)]="openMap['sub2']"
            (nzOpenChange)="openHandler('sub2')"
            nzTitle="Price"
            nzIcon=""
          >
            <ul>
              <span>The highest price is 782.00 USD</span>
              <span>Reset</span>
              <li nz-menu-item>Min price:</li>
              <li nz-menu-item>Max price:</li>
            </ul>
          </li>
          <li
            nz-submenu
            [(nzOpen)]="openMap['sub3']"
            (nzOpenChange)="openHandler('sub3')"
            nzTitle="Product type"
            nzIcon=""
          >
            <ul>
              <span> Selected</span>
              <span>Reset</span>
              <li nz-menu-item>Accessories</li>
              <li nz-menu-item>Coffee</li>
              <li nz-menu-item>Grinder</li>
              <li nz-menu-item>Machine</li>
              <li nz-menu-item>Mugs</li>
              <li nz-menu-item>Tools</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div nz-col class="list-product" nzSpan="12">
          <div>
              <nz-breadcrumb style="font-weight: 500;">
                  <nz-breadcrumb-item>
                    <a [routerLink]="['../../']">Home</a>
                  </nz-breadcrumb-item>
                  <nz-breadcrumb-item>All Products</nz-breadcrumb-item>
                </nz-breadcrumb>
          </div>
          <app-product3></app-product3>
    </div>
  </div>
</div>
