<div class="all-products">
  <div nz-row class="all-product-list" nzGutter="16px">
    <div nz-col class="filters" nzSpan="12">
      <div style="padding: 20px;"><span>Filters</span></div>
      <div class="group">
        <nz-collapse nzExpandIconPosition="right">
            <nz-collapse-panel 
              [nzHeader]="panels[0].name"
              nzActive="true"
              [nzExtra]="extraTpl0"
              (nzActiveChange) = "panels[0].active = !panels[0].active"
              [nzShowArrow] = "false"          

            >
              <div class="group">
                <div class="quantity">
                  <span class="qty">0</span>
                  <span>selected</span>
                </div>
                <span class="Reset">reset</span>
              </div>
              <ng-template #extraTpl0>
                
                <span nz-icon [nzType]="panels[0].active?'minus':'plus'"></span>
              </ng-template>
            </nz-collapse-panel>
            
            <nz-collapse-panel 
              [nzHeader]="panels[1].name"
              nzActive="true"
              [nzExtra]="extraTpl1"
              (nzActiveChange) = "panels[1].active = !panels[1].active"
              [nzShowArrow] = "false"            
            >
              <ng-template #extraTpl1>
                <span nz-icon [nzType]="panels[1].active?'minus':'plus'"></span>
              </ng-template>
            </nz-collapse-panel>
        </nz-collapse>
        
      </div>
    </div>
    <div nz-col class="list-product" nzSpan="12">
          <div>
              <nz-breadcrumb style="font-weight: 500;">
                  <nz-breadcrumb-item>
                    <a [routerLink]="['../../']">Home</a>
                  </nz-breadcrumb-item>
                  <nz-breadcrumb-item>All Products</nz-breadcrumb-item>
                </nz-breadcrumb>
          </div>
          <app-product3 (addToCartEmitter)="changeItemsCart($event)"></app-product3>
    </div>
  </div>
</div>
